* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Spartan", sans-serif; */
}

/* .App {
  padding: 3rem 0;
} */

h4 {
  font-weight: 700;
}

.filtered-vacancies-container {
  display: block;
  background-color: rgb(15, 188, 211);
  height: 100px;
  margin-top: 4rem;
}

/* - Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%) */

.App {
  background-color: hsl(180, 52%, 96%);
}

body {
  background-color: hsl(180, 29%, 50%);
}

li {
  list-style-type: none;
}

.card {
  background-color: white;
  box-shadow: 1px 9px 24px -5px rgba(100, 186, 187, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.card-logo {
  display: flex;
  align-self: center;
}

.card-logo img {
  padding: 1rem;
}

.card-new {
  background-color: rgb(100, 186, 187);
  color: white;
  border-radius: 50px;
  font-weight: 700;
  padding: 0.4rem;
  font-size: 0.7rem;
}

.card-featured {
  background-color: rgb(1, 54, 56);
  color: white;
  font-weight: 700;
  border-radius: 50px;
  padding: 0.4rem;
  font-size: 0.7rem;
}

.featured-border {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.card-container {
  margin: 5rem auto;
  max-width: 1000px;
  padding: 3rem;
}

.test1 {
  display: flex;
}

.card-job-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}

.card-vacancy-requirements {
  display: flex;
  justify-content: space-around;
  color: rgb(100, 186, 187);
  font-size: 0.9rem;
  font-weight: 700;
}

.card-vacancy-requirements li {
  margin: 0.5rem;
  background-color: hsl(180, 52%, 96%);
  border-radius: 10px;
  padding: 0.4rem;
}

.card-vacancy-info {
  display: flex;
  color: grey;
}

.card-vacancy-info > * {
  margin-right: 1rem;
  padding: 1rem 0;
}

.card-company-info {
  display: flex;
  align-items: center;
}

.card-company-info > li > h4 {
  color: rgb(100, 186, 187);
}

.card-company-info > * {
  margin-right: 1rem;
  padding: 1rem 0;
}
